
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    body {
        margin: 0px;
        font-size: 14px;
        padding: 0px;
    }

    .main-container {
        width: 100%;
        padding: 0px;
    }

    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .headerlogo {
        text-align: center;
        padding: 30px 0px 0px 0px;
    }

    .headermenu {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .headermenu {
        border-top: none;
        border-bottom: 3px solid var(--main-bg-color);
    }

    a.nav-link {
        width: 100%;
        padding: 15px;
    }

    .nav-link:active {
        border-bottom: 2px solid var(--main-color);
        border-top: none;
    }

    .headline {
        text-align: center;
        padding: 20px 0;
    }

    .subtitle {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .search-subtitle {
        font-size: 16px;
    }

    .search-bar {
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .search-form {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .form-area {
        Width: 335px;
        Height: 49px;
        display: flex;
    }

    .form-area input {
        width: 100%;
        margin: 10px 0;
    }

    .buttonsearch {
        width: 100%;
        padding: 0px;
    }

    .site-search {
        position: absolute;
        width: 100%;
        text-align: center;
    }

    .buttonsearch {
        border-radius: 0px 15px 15px 0px;
        width: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 16px;
        gap: 10px;
    }

    .buttontext {
        display: none;
    }

    .search_text_icon {
        font-size: 17px;
        width: 17px;
        height: 17px;
    }

    .filters {

        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }

    .filterstitle {
        width: 100%;
        margin: 0px 0px 0px 20px;
    }

    .search-link {
        width: 40%;
    }

    .search-filter {
        align-content: center;
    } 

    /*hover différent sur mobile : pas de souris */
     .search-filter:active {
        background-color: var(--filter-bg-color);
    }

    .search-information {
        width: 100%;
        margin: 0px;
        padding-left: 20px;
    }

    /*POPULAIRES*/
     .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        max-width: 100%;
        max-height: 3976.52px;
        gap: 10px;
        border-radius: 0;
        margin: 0px;
    }

    .populaires {
        padding-left: 0;
        border-radius: 0;
        margin: 0px;
    }

    .populaires-title {
        text-align: start;
        margin-bottom: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards .card {
        height: 100%;
        margin-top: 10px;
    }

    .populaires-cards img {
        object-fit: cover;
    }

    /* HEBERGEMENTS */

     .hebergements {
        margin: 0px;
        height: 1600px;
    }

    .hebergements-and-populaires .hebergements {
        background-color: var(--bg-color);
        width: 100%;
        margin: 0px 0px 10px 0px;
    }

    .hebergements img {
        object-fit: cover;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .card-link {
        width: 100%;
        margin-top: 10px;
    }

    .hebergements-cards .card {
        width: 100%;
    }

    .hebergements-cards .card-content {
        margin: 0px;
    }

    .hebergements-cards .card-rating {
        margin-top: 10px;

    }  

    /* ACTIVITY */
     .activities {
        width: 100%;
        height: 965.02px;
    }

    .activities h5 {
        margin: 0px;
        margin-left: 30px;
    }

    .activities-cards {
        margin: 30px;
        flex-wrap: wrap;
    }

    .activities-cards .card {
        width: 100%;
        margin: 0;
    }

    .activities-cards img {
        object-fit: cover;
        width: 100%;
        height: 144px;
    }

    .activities-cards .card-title {
        text-align: left;
        margin-left: 10px;
    }

    /* FOOTER */

     .block-footer {
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin: 30px 0px 0px 0px;
    }

    .block {
        padding: 20px;
        margin: 20px 20px 0px 20px;
    } 
 }   