/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

}

.fa-solid {
    color: var(--main-color);
    font-size: large;
}

body {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 1828.52px;
    padding: 0px 50px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;

    gap: 30px;
    box-sizing: border-box;
}

/* LOGO HEADER AND TITLES*/

.header {

    flex-direction: column;
    justify-content: center;
}

.headerlogo img {

    margin: auto;
    width: 150px;
    padding: 30px 30px 30px 0px;

}

.headermenu {

    display: flex;
    float: right;
    gap: 68px;

}

.nav-link {

    width: 120px;
    padding: 16px;
    text-align: center;
    font-weight: 500;
    border-top: 4px solid transparent;

}

.nav-link:hover {
    color: blue;
    border-top: 2px solid blue;

}

h1 {
    font-size: 22px;
    margin-bottom: 0px;
    font-weight: 700;
    line-height: 26px;
}

/* SEARCH FORM */

.search-bar {
    color: var(--main-color);

}

.headline {
    width: 100%;
    height: 53px;
    gap: 8px;
}

.subtitle {
    width: 100%;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.searchsubtitle {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 8px;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    isolation: isolate;
    width: 100%;
    height: 250px;
    margin-top: 30px;

}

.searchform {

    display: flex;
    width: 450px;
    height: 50px;
}

.searchinformation {
    max-width: 100%;
    color: black;
}

.form-area {
    display: flex;
    align-items: center;
}

.background-icon-location {

    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    width: 22%;
    height: 49px;
    font-size: x-large;

}

.location_icon {
    display: flex;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 12px 16px;
    font-size: x-large;
}

#site-search {
    width: 100%;
    height: 49px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border-right: none;
    border-left: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding: 15px 16px;

}

.buttonsearch {
    display: flex;
    align-items: center;
    padding: 15px 16px;
    width: 132px;
    height: 49px;
    border: 1px solid #0065FC;
    background: #0065FC;
    border-radius: 0px 15px 15px 0px;
    text-decoration: none;

}

.buttontext {
    color: #FFFFFF;
    font-weight: 700;
    cursor: pointer;

    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    width: 200px;
    font-size: 17px;

}

.search_text_icon {
    font-size: 0;
    color: white;
}

/* FILTERS */

.filters {
    margin top: 100px;
    display: flex;
    font-weight: bold;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    gap: 15px;
    width: 758px;
    height: 50px;
}

.filterstitle {
    display: flex;
    width: 54px;
    font-size: 18px;

    color: #000000;
}

.search-filter,
.search-filter {

    display: flex;
    align-items: center;
    padding: 4px 19px;
    gap: 10px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 50px;

}


.searchtitle {

    font-weight: 700;
    color: #000000;
    align-items: center;
    background-color: transparent;

}

#fire-filter {

    background-color: #deebff;

}

.searchinformation {

    width: 1306px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.fas {
    color: #D9D9D9;
    font-size: large;
}

/* ELEMENTS DES CARDS HEBERGEMENTS AND POPULAIRES */


.section-title {

    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
    width: 100%;
    height: 26px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}


.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/* SECTION HEBERGEMENTS */

.hebergements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 871px;
    height: 617.5px;
    gap: 30px;
    background: #F2F2F2;
    border-radius: 15px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 15px;
    gap: 30px;
    width: 100%;
    height: 617.5px;

}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 250.33px;
    height: 207.25px;
    background: #FFFFFF;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.hebergements-cards img {
    object-fit: cover;
    box-sizing: border-box;
    width: 100%;
    height: 124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;

}

.hebergements-cards .card-content {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px, 15px, 0px, 15px;
    width: 90%;
    /* width: 220.33px; */
    height: 64.25px;

}

.hebergements-cards .card-txt {
    margin: 0;
    width: 225px;

}

.hebergements-cards .card-title {
    margin: 0px;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 0;
}

.hebergements-cards .card-rating {
    margin-top: 5px;
}

.card:hover {
    box-shadow: 0 16px 16px 0 rgba(46, 49, 50, 0.896);
}

a {
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;
}

.more {
    width: 811px;
    height: 21px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

/* SECTION POPULAIRES */

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    object-fit: cover;
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 70%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/*SECTION ACTIVITES A MARSEILLE */

.activities {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1440px;
    height: 559.02px;
    box-sizing: border-box;


}

h5 {
    width: 100%;
    height: 30.02px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.activities-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    max-width: 100%;
    height: 559.02px;
}

.activities-cards .card {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    cursor: default;
    width: 100%;
}

.activities-cards img {

    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 380px;

}

.activities-cards .card-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    height: 59px;
    width: 100%;

}

.activities-cards .card-title {
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

}

/* PARTIE FOOTER */

.bloc-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #f2f2f2;
    width: 100%;
    height: 163px;

}

.bloc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;

    width: 446.67px;
    height: 163px;
}


.bloc-title {
    width: 200px;
    height: 21px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}



/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .activitites {
        width: 100%;
    }

    .populaires-cards,
    .hebergements-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card,
    .hebergements-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title,
    .hebergements-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle,
    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

    .activities-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .activities-cards img {
        max-width: 100%;
        max-height: 270px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    body {
        font-size: 14px;
        max-width: 768px;
        padding: 0px;
        height: 4121px;

    }

    .header {
        display: flex;
        flex-direction: column;
        max-width: 768px;
    }

    .headerlogo {

        text-align: center;
        padding: 0;

    }

    .headermenu {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;

    }

    .headermenu {
        border-top: none;
        border-bottom: 3px solid #F2F2F2;
    }

    a.nav-link {
        width: 100%;
        padding: 15px;
        border-top: transparent;

    }

    .nav-link:hover {
        border-top: transparent;
        border-bottom: 3px solid #0065FC;
    }

    .headline {
        text-align: center;
        padding: 20px 0;
    }

    .subtitle {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .searchsubtitle {
        font-size: 16px;
    }

    .search-bar {
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .searchform {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .form-area {
        Width: 335px;
        Height: 49px;
        display: flex;

    }

    .form-area input {
        width: 100%;
        margin: 10px 0;
    }

    .buttonsearch {
        width: 100%;
        padding: 0px;


    }

    .site-search {

        position: absolute;
        width: 100%;
        text-align: center;
    }

    .buttonsearch {
        border-radius: 0px 15px 15px px;
        width: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 16px;
        gap: 10px;
    }

    .buttontext {
        display: none;
    }

    .search_text_icon {
        font-size: 17px;
        width: 17px;
        height: 17px;

    }

    .filters {

        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 20px;


    }

    .filterstitle {

        width: 100%;
    }

    .search-filter {
        width: 40%;
        align-content: center;

    }

    #fire-filter {
        background-color: #FFFFFF;
    }

    #love-filter {
        background-color: #DEEBFF;
    }

    .searchinformation {
        width: 100%;
        margin: 0px;

    }

    /*POPULAIRES*/

    .main {
        margin: 10px;
        width: 375px;
        height: 2013.05px;
        gap: 15px;
        padding: 0px;

    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        max-width: 375px;
        max-height: 3976.52px;
        gap: 10px;
        border-radius: 0;
        margin: 0px;
    }

    .populaires {
        margin: 30px 0px 10px 0px;
        width: 100%;
        border-radius: 0;

    }

    .populaires-title {
        text-align: start;

    }

    .populaires-cards {
        flex-wrap: wrap;

    }

    .populaires-cards .card {

        width: 100%;
        height: 100%;
        margin-top: 10px;

    }

    .populaires-cards img {
        height: 140px;
        width: 50%;
    }

    /* HEBERGEMENTS */

    .hebergements {
        margin: 0px;
        width: 375px;
        height: 1600px;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
        align-items: center;
        width: 100%;
        margin: 0px 0px 10px 0px;
        padding: 0px 0px 15px;
    }

    .hebergements-cards {
        flex-wrap: wrap;
        width: 90%;

    }

    .hebergements-cards .card {
        width: 100%;
        margin-top: 10px;
    }

    .hebergements-cards .card-content {
        margin: 5px;
    }

    .more {
        margin-bottom: 80px;
    }

    /* ACTIVITY */

    .activities {
        width: 375px;
        height: 965.02px;

    }

    .activities h5 {
        margin: 0px;

    }

    .activities-cards {
        margin: 30px;
        flex-wrap: wrap;
    }

    .activities-cards .card {
        width: 100%;

    }

    .activities-cards img {
        width: 315px;
        height: 144px;
    }

    .activities-cards .card-title {
        text-align: left;
        margin-left: 10px;
    }

    /* FOOTER */

    .bloc-footer {
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin: 30px 0px 0px 0px;

    }

    .bloc {
        padding: 20px;
        width: 263.67px;
        height: 123px;
    }
}