/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --bg-color: #FFFFFF;
    --txt-color: #000000;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    padding: 0px 40px;
    left: 0px;
    right: 0px;
    top: 0px;
}

.main-container {
    max-width: 1440px;
    width: 100%;
    gap: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 50px;
    box-sizing: border-box;
}

/* LOGO HEADER AND TITLES FORM*/
.header {
    max-width: 1440px;
    width: 100%;
    height: 79px;
    display: flex;
    justify-content: space-between;
}

.headerlogo {
    padding: 30px 50px;
}

.headerlogo img {
    width: 61px;
    height: 19px;
}

.color-main {
    color: var(--main-color);
}

.headermenu {
    display: flex;
    flex-direction: row;
}

.nav-link {
    width: 120px;
    padding: 16px;
    text-align: center;
    font-weight: 500;
    border-top: 4px solid transparent;
}

 .nav-link:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    /*ajout d'une margin pour compenser l'écart de la bordure*/
    margin-top: 2px;
} 

/* SEARCH FORM */
.search-bar {
    color: var(--main-color);
}

.headline {
    width: 100%;
    height: 53px;
    gap: 8px;
}

h1 {
    font-size: 22px;
    margin-bottom: 0px;
    font-weight: 700;
    line-height: 26px;
} 

.subtitle {
    width: 100%;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.search-subtitle {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-top: 8px;
}

.search-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    isolation: isolate;
    width: 100%;
    height: 230px;
    margin-top: 30px;
}

.search-form {
    display: flex;
    width: 450px;
    height: 50px;
}

.search-information {
    max-width: 100%;
    color: var(--txt-color);
}

.form-area {
    display: flex;
    align-items: center;
}

.background-icon-location {

    background-color: var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    width: 22%;
    height: 49px;
    font-size: x-large;
}

.location_icon {
    display: flex;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    padding: 12px 16px;
    font-size: x-large;
}

#site-search {
    width: 100%;
    height: 49px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    border-right: none;
    border-left: none;
    border-top: 1px solid var(--main-bg-color);
    border-bottom: 1px solid var(--main-bg-color);
    padding: 15px 16px;

}

.buttonsearch {
    display: flex;
    align-items: center;
    padding: 15px 16px;
    width: 132px;
    height: 49px;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    border-radius: 0px 15px 15px 0px;
    text-decoration: none;
}

.buttontext {
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;

    background-color: var(--main-color);
    border-radius: 0px 15px 15px 0px;
    width: 200px;
    font-size: 17px;
}

.search_text_icon {
    font-size: 0;
    color: var(--bg-color);
}

/* FILTERS */
.filters {
    display: flex;
    font-weight: bold;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px;
    gap: 15px;
    width: 758px;
    height: 50px;
}

.filterstitle {
    display: flex;
    width: 54px;
    font-size: 18px;
    color: var(--txt-color);
}

.search-filter {
    display: flex;
    padding: 4px 19px;
    gap: 10px;
    border: 2px solid var(--main-bg-color);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 50px;
}

.search-filter:hover {
    background-color: var(--filter-bg-color);
}

.searchtitle {
    font-weight: 700;
    color: var(--txt-color);
    align-items: center;
    background-color: transparent;
    font-size: 14px;
}

.search-information {
    width: 1306px;
    height: 19px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.fas {
    color: var(--main-color);
    font-size: large;
}

/* ELEMENTS DES CARDS HEBERGEMENTS & POPULAIRES */
.section-title {
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
    width: 100%;
}

.card {
    background-color: var(--bg-color);
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/* SECTION HEBERGEMENTS */

.hebergements {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    background: var(--main-bg-color);
    border-radius: 15px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 15px;
    gap: 30px;
    width: 100%;
}

.hebergements-cards .card-link {
    flex: 1 1 25%;
}

.card-link {
    color: var(--txt-color);
}

.hebergements-cards .card {
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    background: var(--bg-color);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.hebergements-cards img {
    object-fit: cover;
    box-sizing: border-box;
    width: 100%;
    height: 124px;
    border: 5px solid var(--bg-color);
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
}

.hebergements-cards .card-txt {
    margin: 0;
}

.hebergements-cards .card-title {
    font-size: 1em;
    margin: 0px;
}

.hebergements-cards .card-subtitle {
    font-size: 0.9em;
    margin-bottom: 0;
}

.hebergements-cards .card-rating {
    margin-top: 7px;
}

.card:hover {
    box-shadow: 0 16px 16px 0 rgba(46, 49, 50, 0.896);
}

a {
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;
}

.more {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: var(--txt-color);
}

/* SECTION POPULAIRES */

.populaires {
    flex: 1;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    flex-direction: row;
    margin-top: 33px;
}

.populaires-cards img {
    object-fit: cover;
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 70%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 0.9em;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*SECTION ACTIVITES A MARSEILLE */

.activities {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1440px;
    box-sizing: border-box;
}

h5 {
    width: 100%;
    height: 30.02px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.activities-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    max-width: 100%;
}

.activities-cards .card {

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    width: 100%;
}

.activities-cards .card-link {
    width: 100%;
}

.activities-cards img {

    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.activities-cards .card-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    height: 59px;
    width: 100%;
}

.activities-cards .card-title {
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

/* PARTIE FOOTER */
footer {
    width: 100%;
}

.bloc-footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 30px;
    margin-bottom: 0px;
    background-color: var(--main-bg-color);
    width: 100%;
}

.bloc {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    box-sizing: border-box;
}


.bloc-title {
    height: 21px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.bloc .links {
    color: var(--txt-color);
}


/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {

    .header {
        max-width: 1024px;
        width: 100%;
    }

    .main-container {
        max-width: 1024px;
        width: 100%;
        padding: 0px 30px 0px 30px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        gap: 10px;
    }

    .nav-link:active {
        color: var(--txt-color);
        border-top: 2px solid var(--main-color);
        border-bottom: none;
    }
    .search-link:active {
        background-color: var(--filter-bg-color);
        border-radius: 50px;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .activitites {
        width: 100%;
    }

    .populaires-cards,
    .hebergements-cards {
        display: flex;
        gap: 15px;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card-link {
        flex: 1 1 25%;
    }

    .populaires-cards .card-title,
    .hebergements-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle,
    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-cards img {
        width: 50%;

    }

    .activities-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .activities-cards img {
        max-width: 100%;
        max-height: 200px;
    }

    .bloc-footer {
        width: 100%;
        margin-bottom: 0px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

    body {
        margin: 0px;
        font-size: 14px;
        padding: 0px;
    }

    .main-container {
        width: 100%;
        padding: 0px;
    }

    .header {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .headerlogo {
        text-align: center;
        padding: 30px 0px 0px 0px;
    }

    .headermenu {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: center;
    }

    .headermenu {
        border-top: none;
        border-bottom: 3px solid var(--main-bg-color);
    }

    a.nav-link {
        width: 100%;
        padding: 15px;
    }

    .nav-link:active {
        border-bottom: 2px solid var(--main-color);
        border-top: none;
    }

    .headline {
        text-align: center;
        padding: 20px 0;
    }

    .subtitle {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .search-subtitle {
        font-size: 16px;
    }

    .search-bar {
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .search-form {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .form-area {
        Width: 335px;
        Height: 49px;
        display: flex;
    }

    .form-area input {
        width: 100%;
        margin: 10px 0;
    }

    .buttonsearch {
        width: 100%;
        padding: 0px;
    }

    .site-search {
        position: absolute;
        width: 100%;
        text-align: center;
    }

    .buttonsearch {
        border-radius: 0px 15px 15px 0px;
        width: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 16px;
        gap: 10px;
    }

    .buttontext {
        display: none;
    }

    .search_text_icon {
        font-size: 17px;
        width: 17px;
        height: 17px;
    }

    .filters {

        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }

    .filterstitle {
        width: 100%;
        margin: 0px 0px 0px 20px;
    }

    .search-link {
        width: 40%;
    }

    .search-filter {
        align-content: center;
    } 

    /*hover différent sur mobile : pas de souris */
     .search-filter:active {
        background-color: var(--filter-bg-color);
    }

    .search-information {
        width: 100%;
        margin: 0px;
        padding-left: 20px;
    }

    /*POPULAIRES*/
     .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        max-width: 100%;
        max-height: 3976.52px;
        gap: 10px;
        border-radius: 0;
        margin: 0px;
    }

    .populaires {
        padding-left: 0;
        border-radius: 0;
        margin: 0px;
    }

    .populaires-title {
        text-align: start;
        margin-bottom: 20px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
    }

    .populaires-cards .card {
        height: 100%;
        margin-top: 10px;
    }

    .populaires-cards img {
        object-fit: cover;
    }

    /* HEBERGEMENTS */

     .hebergements {
        margin: 0px;
        height: 1600px;
    }

    .hebergements-and-populaires .hebergements {
        background-color: var(--bg-color);
        width: 100%;
        margin: 0px 0px 10px 0px;
    }

    .hebergements img {
        object-fit: cover;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .card-link {
        width: 100%;
        margin-top: 10px;
    }

    .hebergements-cards .card {
        width: 100%;
    }

    .hebergements-cards .card-content {
        margin: 0px;
    }

    .hebergements-cards .card-rating {
        margin-top: 10px;

    }  

    /* ACTIVITY */
     .activities {
        width: 100%;
        height: 965.02px;
    }

    .activities h5 {
        margin: 0px;
        margin-left: 30px;
    }

    .activities-cards {
        margin: 30px;
        flex-wrap: wrap;
    }

    .activities-cards .card {
        width: 100%;
        margin: 0;
    }

    .activities-cards img {
        object-fit: cover;
        width: 100%;
        height: 144px;
    }

    .activities-cards .card-title {
        text-align: left;
        margin-left: 10px;
    }

    /* FOOTER */

     .bloc-footer {
        width: 100%;
        height: 100%;
        flex-direction: column;
        margin: 30px 0px 0px 0px;
    }

    .bloc {
        padding: 20px;
        margin: 20px 20px 0px 20px;
    } 
 }   